@{
    ViewBag.Title = "MyFormResult";
}

<h2>MyFormResult</h2>

@using MVC5Practice.Models.ViewModels
@{
    var c = TempData["MyFormData"] as ClientLoginViewModel;
    if (c != null)
    {
        <h3>@c.FirstName @c.LastName 新增資料成功！</h3>
    }
}